.DS_Store
.idea/

target/
build/
out/

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
infra/terraform.tfvars

.env
.env.*

*.log

README.md
assignment3_outline.md
assignment3_report.md
assignment3_task_checklist.md
assignment3_tools_software.md
infra/README.md
infra/deploy.md
